[교수님 practice](https://github.com/huijeong728/advancedstatistics/blob/master/PythonPractice.ipynb)

[jump to python](https://wikidocs.net/book/1)

# 2장

### 문자형

In [2]:
"I'm tom"

"I'm tom"

In [5]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [13]:
print("Life is too short\n You need python") #줄바꿈

Life is too short
 You need python

In [9]:
a="andy"
b="Tom"
a+b

'andyTom'

In [11]:
a+' '+b

'andy Tom'

In [12]:
a = "Life is too short"
len(a) #문자열 길이 구하기 (type 마다 다르게 작동함)

17

In [16]:
type(a)

str

In [14]:
dir(a) #a에 쓸수 있는 함수들

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [18]:
a

'Life is too short'

In [17]:
a[3] #0123

'e'

In [19]:
a[:3] #0123 3번째 글자 앞까지

'Lif'

In [20]:
a = "Pithon"

In [21]:
a[:1]

'P'

In [24]:
a[2:]

'thon'

In [23]:
a[:1] + 'y' + a[2:]

'Python'

In [25]:
"I eat %d apples." % 3 #문자열 포매팅

'I eat 3 apples.'

In [27]:
"I eat {0} apples".format(3)

'I eat 3 apples'

In [28]:
number = 10
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number, day)

'I ate 10 apples. so I was sick for three days.'

In [29]:
"{0:<10}".format("hi")

'hi        '

In [30]:
"{0:=^10}".format("hi")

'====hi===='

In [31]:
"{0:!<10}".format("hi")

'hi!!!!!!!!'

### 숫자형

In [32]:
odd = [1, 3, 5, 7, 9]
odd

[1, 3, 5, 7, 9]

In [35]:
e = [1, 2, ['Life', 'is']]
e #list안에 list 넣음

[1, 2, ['Life', 'is']]

In [36]:
e[0]

1

In [37]:
e[2]

['Life', 'is']

In [38]:
e[2][0]

'Life'

In [39]:
e[0] + e[1]

3

In [40]:
a = [1, 2, 3, ['a', 'b', 'c']]

In [41]:
a[-1]

['a', 'b', 'c']

In [43]:
 a[3]

['a', 'b', 'c']

In [42]:
a[-1][1]

'b'

In [44]:
a = [1, 2, ['a', 'b', ['Life', 'is']]]

In [46]:
a[2][2][0]

'Life'

In [47]:
a = [1, 2, 3, 4, 5] 
a[0:2] #list 슬라이싱

[1, 2]

In [48]:
a[:3]

[1, 2, 3]

In [49]:
a[3:]

[4, 5]

In [54]:
a = [1, 2, 3]
b = [4, 5, 6]
a + b #list 합치기

[1, 2, 3, 4, 5, 6]

In [55]:
a[1]=5
a #바꾸기

[1, 5, 3]

In [56]:
a.append(4)
a #추가

[1, 5, 3, 4]

### 튜플

- 리스트는 [ ]으로 둘러싸지만 튜플은 ( )으로 둘러싼다.
- 리스트는 그 값의 생성, 삭제, 수정이 가능하지만 튜플은 그 값을 바꿀 수 없다.

### 딕셔너리

In [58]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [66]:
a = {1: 'hi', 2: 'bye', 3: 'hello'}
a

{1: 'hi', 2: 'bye', 3: 'hello'}

In [67]:
list(a.keys())

[1, 2, 3]

In [68]:
a.values()

dict_values(['hi', 'bye', 'hello'])

In [69]:
a.items()

dict_items([(1, 'hi'), (2, 'bye'), (3, 'hello')])

In [70]:
for key in a.keys() :
    print (key)

1
2
3

### 집합형

In [73]:
a={1,1,1,2,2,1,1,4,4,4,5,6,6,4,4,3,3,2}
b={8,7,6,5,4,4,3,2}

In [74]:
a_set = set(a) # set형(집합형)
a_set

{1, 2, 3, 4, 5, 6}

In [75]:
b_set = set(b)
b_set

{4, 5, 6}

In [76]:
a_set & b_set

{4, 5, 6}

In [77]:
a_set | b_set

{1, 2, 3, 4, 5, 6}

In [78]:
a_set - b_set

{1, 2, 3}

In [79]:
list(a_set) #list형

[1, 2, 3, 4, 5, 6]

### 불 자료형

In [81]:
a = True
b = False

In [82]:
type(a)
type(b)

bool

In [83]:
1 ==1

True

In [85]:
2<1

False

### 2장 연습문제

#### 1.

In [91]:
 a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

In [92]:
set(a)

{1, 2, 3, 4, 5}

#### 2.

In [93]:
a = {'A':90, 'B':80, 'C':70}

In [95]:
a['A']

90

In [96]:
a['B']

80

#### 3.

In [97]:
a = b = [1, 2, 3]

In [98]:
a[1] = 4

In [105]:
print(b) # b는 a와 같은 메모리 공유

[1, 4, 3]

In [106]:
c=a.copy() # b와 a는 다른 메모리

In [107]:
a[1] = 3

In [108]:
print(c)

[1, 4, 3]

-------------------------------------------

# 3장

### if 문

In [114]:
money = True
if money:
    print("택시를")
    print("타고")
    print("가라")

택시를
타고
가라

In [123]:
money = 2000
card = True
if money >= 3000 | card : #연산순서때문에 달라짐
    print("택시를 타고 가라")
else:
    print("걸어가라")

걸어가라

In [120]:
money >= 3000 | card

False

In [122]:
(3000 | card )

3001

In [124]:
money = 2000
card = True
if money >= 3000 or card : # 연산순서때문에 달라짐
    print("택시를 타고 가라")
else:
    print("걸어가라")

택시를 타고 가라

In [125]:
1 in [1, 2, 3]

True

In [126]:
 1 not in [1, 2, 3]

False

In [127]:
pocket = ['paper', 'cellphone']
card = True
if 'money' in pocket:
     print("택시를 타고가라")
elif card: 
     print("택시를 타고가라")
else:
     print("걸어가라")

택시를 타고가라

### while 문

In [129]:
treeHit = 0
while treeHit < 10:
 treeHit = treeHit +1
 print("나무를 %d번 찍었습니다." % treeHit)
 if treeHit == 10:
    print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [130]:
coffee = 10
money = 300
while money:
   print("돈을 받았으니 커피를 줍니다.")
   coffee = coffee -1
   print("남은 커피의 양은 %d개입니다." % coffee)
   if coffee == 0:
      print("커피가 다 떨어졌습니다. 판매를 중지합니다.")
      break

돈을 받았으니 커피를 줍니다.
남은 커피의 양은 9개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 8개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 7개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 6개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 5개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 4개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 3개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 2개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 1개입니다.
돈을 받았으니 커피를 줍니다.
남은 커피의 양은 0개입니다.
커피가 다 떨어졌습니다. 판매를 중지합니다.

In [133]:
a = 0
while a < 10:
   a = a + 1
   if a % 2 == 0: continue
   print(a)

1
3
5
7
9

### for문

In [134]:
test_list = ['one', 'two', 'three'] 
for i in test_list: 
    print(i)

one
two
three

In [135]:
for i in range(5):
    print(i)

0
1
2
3
4

[표현식 for 항목 in 반복가능객체 if 조건문]

In [139]:
[ a for a in [1,3,4,5] if a//2 == 0 ]

[1]

In [141]:
[x*y for x in range(2,5) for y in range(1,4)]

[2, 4, 6, 3, 6, 9, 4, 8, 12]

### 3장 연습문제

#### 1.

In [143]:
a = "Life is too short, you need python"
if "wife" in a: print("wife")
elif "python" in a and "you" not in a: print("python")
elif "shirt" not in a: print("shirt")
elif "need" in a: print("need")
else: print("none")

shirt

a 안에 "wife"가 있으면 "wife"를 출력
또는 a 안에 "python"가 있고 "you"가 없으면 "python"을 출력
또는 a 안에 "shirt"이 없으면 "shirt"를 출력
또는 a 안에 "need"가 있으면 "need"를 출력
또는 위의 조건 아무것도 해당하지 않으면 "none" 출력

a안에 wife가 없으므로 다음 쿼리
a안에 python과 you가 동시에 있으므로 다음 쿼리
shirt가 없으므로 shirt 출력

#### 2.

In [149]:
for i in range(1,101) :
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

#### 3.

In [150]:
numbers = [1, 2, 3, 4, 5]
result = []
for n in numbers:
    if n % 2 == 1:
        result.append(n*2)

In [151]:
[n*2 for n in [1,2,3,4,5] if n%2 == 1]

[2, 6, 10]

------------------

# 4장

In [159]:
try : 
    os.mkdir(data)
except :
    pass

In [ ]:
with open('G:/중앙대수업/3차/ids.txt', 'w') as f :
    with open(read) fr:
        dfsdfs 조건에 만족하면
        f.write()
        
    with open(read) fr:
        
        f.write()

- process line by line
  - open a file to write
  - read line by line from data files
  - if current id is in the list, write a line in a file

In [183]:
with open('G:/중앙대수업/3차/고급통계세미나/HW2/ids.txt', 'w') as f :
    f.write('ID\nJohn\nKarl\nAndy\nTim\n')

In [184]:
with open('G:/중앙대수업/3차/고급통계세미나/HW2/data1.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t1\t3\t1\nJohn\t1\t3\t3\nTom\t1\t1\t1\nKarl\t1\t1\t2\nKarl\t1\t3\t2\nKarl\t2\t2\t2\nAndy\t1\t2\t3')

In [185]:
with open('G:/중앙대수업/3차/고급통계세미나/HW2/data2.txt', 'w') as f :
    f.write('ID\tfield1\tfield2\tfield3\nTom\t2\t3\t1\nJane\t1\t1\t3\nJane\t2\t2\t1\nMax\t3\t1\t2\nKarl\t1\t4\t2\nMax\t3\t2\t2\nMax\t2\t2\t1')

In [181]:
ids = []
with open('G:/중앙대수업/3차/ids.txt', 'r') as f :
    for item_ind, item in enumerate(f) :
        if item_ind > 0 :
            ids.append(item.strip())

In [158]:
for idx, item in enumerate([5,4,3,2,1]) :
    print(idx, item)

0 5
1 4
2 3
3 2
4 1

# data generator

- 필요할때 마다 파일에서 그때그때 불러옴
- 메모리에 데이터를 올리지 않기때문에 메모리를 아낄수 있음

In [ ]:
import sys

In [187]:
fnm = 'G:/중앙대수업/3차/고급통계세미나/HW2/data2.txt'

In [228]:
def fgenerator(fnm, iter_option = 0) :
    with open(fnm, 'r', encoding='utf-8') as f :
        for idx, item in enumerate(f) :
            ID, V1, V2, V3 = item.strip().split()
            yield ID

In [229]:
%%time
gen_from_file = fgenerator(fnm)

Wall time: 1e+03 µs

In [230]:
next(gen_from_file)

'ID'

In [231]:
sys.getsizeof(gen_from_file)

120

In [232]:
def fgenerator(fnm, iter_option = 0) :
    with open(fnm, 'r', encoding='utf-8') as f :
        for idx, item in enumerate(f) :
            ID, V1, V2, V3 = item.strip().split()
            if iter_option == 0 :
                yield ID
            elif iter_option == 1 :
                yield V1
            elif iter_option == 2 :
                yield V2
            else :
                yield V3

In [233]:
%%time
gen_from_file = fgenerator(fnm)

Wall time: 1 ms

In [234]:
next(gen_from_file)

'ID'

In [236]:
sys.getsizeof(gen_from_file)

120

In [237]:
def freader(fnm, iter_option = 0) :
    IDs = []
    with open(fnm, 'r', encoding='utf-8') as f :
        for idx, item in enumerate(f) :
            ID, V1, V2, V3 = item.strip().split()
            if iter_option == 0 :
                IDs.append(ID)
            elif iter_option == 1 :
                IDs.append(V1)
            elif iter_option == 2 :
                IDs.append(V2)
            else :
                IDs.append(V3)
    return IDs

In [238]:
%%time
res = freader(fnm)

Wall time: 1e+03 µs

In [239]:
sys.getsizeof(res)

128

In [240]:
class DataGenerator() : 
    def __init__(self, fnm, iter_option=0) :
        self.fnm = fnm
        self.iter_option = iter_option
    
    def __iter__(self) :
        with open(fnm, 'r', encoding='utf-8') as f :
            for idx, item in enumerate(f) :
                ID, V1, V2, V3 = item.strip().split()
                if self.iter_option == 0 :
                    yield ID
                elif self.iter_option == 1 :
                    yield V1
                elif self.iter_option == 2 :
                    yield V2
                else :
                    yield V3
    
    def __len__(self) :
        with open(fnm, 'r', encoding='utf-8') as f :
            for idx, item in enumerate(f) :
                pass
            
            return idx

In [241]:
gen1 = DataGenerator(fnm)

In [242]:
len(gen1)

7

'andy Tom'